name: Run All Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-lua:
    name: Run Teal Build and Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup 'lua'
      uses: leafo/gh-actions-lua@v8
      with:
        luaVersion: "5.1.5"
    - name: Run Stylua
      uses: JohnnyMorganz/stylua-action@1.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --check tests/
        version: 0.10.1
    - name: Setup 'luarocks'
      uses: leafo/gh-actions-luarocks@v4
    - name: Instal Teal Compiler
      run: |
        luarocks install tl
        luarocks install luacheck
    - name: Checkout teal-types
      uses: actions/checkout@v2
      with: # TODO change this to teal-language/teal-types when this PR is merged: https://github.com/teal-language/teal-types/pull/35
        repository: mrjones2014/teal-types
        path: vendor/plenary.nvim
    - name: Ensure Teal Build Up To Date
      run: |
        make check
        make build
        test -z "$(git diff --name-only)"
    - name: Install Neovim
      uses: rhysd/action-setup-vim@v1
      with:
        neovim: true
        version: nightly
    - name: Checkout Plenary
      uses: actions/checkout@v2
      with:
        repository: nvim-lua/plenary.nvim
        path: vendor/plenary.nvim
    - name: Checkout Luassert
      uses: actions/checkout@v2
      with:
        repository: Olivine-Labs/luassert
        path: vendor/luassert
    - name: Run Unit Tests
      run: make test
